.number-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 3em;
  padding: 10px;
  text-align: center;
  width: 300px;
  height: 100px;
}
