.choice-response-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgb(2, 22, 87);
  cursor: pointer;
  font-size: 2em;
  padding: 10px;
  text-align: center;
  height: 10vh;
  flex-grow: 1; 
  flex-basis: 0;
}

.choice-response-button:hover {
  background-color: rgb(176, 218, 246);
}

.choice-response-button:active {
  background-color: #3283f4;
}

.choice-response-button:disabled {
  background-color: #ccc;
  border: 1px solid #666;
  color: #666;
  cursor: not-allowed;
}
